*.pyc
*tmp*
.idea
.DS_Store
*.log
*.ini
.idea/*
*.xls
*.png
*.jpg
*.swp
*.swo
*.npy
*.pkl
*.pth
*.enc
log/*
data/*
*.ipynb
*.log
*.warnings.txt
*.tar
*/weights/*
weight/*
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
